<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
     <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
  
   <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>


  <div class="center jumbotron">
    <h1>情報を食べるサイト。</h1>

    <h2>
    今日の朝食、素敵なランチ、特別なディナー。画像をつけて人にシェアしよう。
    </h2>

    <%= link_to "ユーザー新規登録はこちら！", new_user_registration_path,
                                class: "btn btn-lg btn-primary" %>
  </div>
  

<% end %>